@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Task9.Models.Group

<!doctype html>
<html>
<head>
    <title>TASK 9</title>
    <meta charset="utf-8"/>
</head>

<body>
<h3>Editing group @Model.Name</h3>
<form asp-action="EditGroup" asp-controller="Group" asp-route-id="@Model.GroupId">
    <p>
        <label asp-for="Name">New name</label><br />
        <input type="text" asp-for="Name" />
    </p>
    <p>
        <input type="submit" value="Save" />
    </p>
</form>
</body>
</html>
